@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aaux ProBlack';
  src: url('../fonts/AauxProBlackRegular.ttf');
}
 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.reflection { 
  bottom: 20%; 
  color: white; 
  font-size: 40px;
  left: 30%; 
  position: absolute; 
  width: 520px;
} 
.reflection::after { 
  margin: 0;
  margin-top: -10px;
  content: attr(data-text); 
  animation: fadein 4s;
  animation-delay: 0.5ms;
  position: absolute; 
  bottom: 0; 
  left: 0; 
/* Change the position of transformed element */
  transform-origin: bottom; 
/*  Rotates around x-axis */
  transform: rotateX(180deg); 
  line-height: 0.85em; 
/* linear-gradient defined by up,down,left ,right ,diagonal */
  background-image: linear-gradient(0deg, #ffffff 0, transparent 95%); 
  -webkit-background-clip: text; 
  color: transparent;          
  opacity: 0.7;
  width: fit-content;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}